{
 :deps
 {
  criterium {:mvn/version "0.4.4"}
  org.clojure/math.combinatorics {:mvn/version "0.1.4"}
  org.clojure/tools.trace {:mvn/version "0.7.10"}
  org.clojure/data.priority-map {:mvn/version "0.0.10"}
  }
 }
